<h1><%= @task.title %></h1>

<br>

<p><%= @task.details %></p>
<p><%= @message %></p>

<br>
<br>

<%= link_to "Back to tasks", tasks_path %>

<br>
<br>
<br>

<button><%= link_to "Edit the task", edit_task_path %></button>
<button><%= link_to "Delete the task",
    task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
