<h1><%= @tasks.title %></h1>

<br>

<p><%= @tasks.details %></p>
<p><%= @message %></p>

<br>
<br>

<%= link_to "Back to tasks", tasks_path %>

<br>
<br>
<br>

<button><%= link_to "Edit the task", edit_task_path %></button>
